<!doctype HTML>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <title>stats info</title>
</head>
   
<body>
{% load success_problem_filter %}


<table class='table table-striped'>
    <thead>
        <tr>
            <th>Users</th>
            <th>Name</th>
            <th>LINK</th>
        </tr>
    </thead>
    <tbody>
        {% for problem in success_problems %}
           <tr>
                <td>{{problem|_get:'uid'}}</td>
                <td>{{problem|_get:'plabel'}}</td>
                <td>{{problem|_get:'timestamp'}}</td>
           </tr>
        {% endfor %}
    </tbody>
</table>
</body>
